{%- liquid
    assign current_variant = product.selected_or_first_available_variant | default: product.variants.first
    assign current_selling_plan_allocation = current_variant.selected_selling_plan_allocation
     
    if current_selling_plan_allocation == nil and current_variant.requires_selling_plan
      assign current_selling_plan_allocation = current_variant.selling_plan_allocations | first
    endif

-%}
{% for selling_plan in product.selling_plan_groups %}
    {% if selling_plan.app_id == '5859381' or selling_plan.app_id == '5875267' %}
    {% assign rtx_selling_plan = selling_plan %}
    {% endif %}
{% endfor %}
{% assign first_selling_plan_allocation = product.variants.first.selling_plan_allocations[0] %}
    {% if product.selling_plan_groups[0].name %}
        <input type='hidden' name="id" id="variant_{{ product.id }}" value="{{ current_variant.id }}">
        <input type='hidden' name="selling_plan" id="selling_plan_{{ product.id }}" value="{{ current_selling_plan_allocation.selling_plan.id | default: '' }}">
        <div class="rtx_buy_box" id="rtx_buy_box_{{ product.id }}">
            <div class="rtx_container" data-product='{{ product | json }}'>
                {% unless product.requires_selling_plan %}
                    <div class="rtx_option_{{ product.id }} rtx_option_one_time" id="rtx_option_one_time">
                        <div class="rtx_option_selector_one">
                            <label for="radio_one_{{ product.id }}" class="rtx_option_label">
                            <input type="radio" id='radio_one_{{ product.id }}' class="radio_rtx" value="onetime" name="selling_plan_select" data-product_id="{{ product.id }}" checked >
                            <div class="rtx_option_heading">
                                <div class='one_time_title'>
                                    One-Time Purchase
                                   
                                </div>
                            </div>
                            </label>
                            <span id=one_time_price> {{product.variants[0].price | money}}</span>
                        </div>
                    </div>
                {% endunless %}
                <div id='rtx_sands_block'>
                    <div class="rtx_option_{{ product.id }} rtx_option_sub" id="rtx_option_sub" >
                        <div class="rtx_option_selector_sub">
                            <label for="radio_sub_{{ product.id }}" class="rtx_option_label">

                            <input type="radio" id='radio_sub_{{ product.id }}' class="radio_rtx" value="subsave" name="selling_plan_select" data-product_id="{{ product.id }}"  >
                            <div class="rtx_option_heading">
                                <div class='sub_title'>
                                    {{ rtx_selling_plan.name }} 
                                  
                                </div>
                            </div>
                            </label>
                            <span id=sub_price> {{ first_selling_plan_allocation.price | money }}</span>
                        </div>
                        <div class="rtx_option_plans" >
                            <select name="rtx_option_plans_dropdown" id="rtx_option_plans_dropdown" data-product_id="{{ product.id }}">
                                {% for selling_plan in rtx_selling_plan.selling_plans %}
                                    <option class='rtx_option_name' value="{{ selling_plan.id }}">{{ selling_plan.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <script>
        var product = {{ product | json }}
        var rtxSPG = {{ rtx_selling_plan | json }}
        var currentProductId = "{{ product.id }}";
        function setSellingPlan(prod) {
            var selectedOption = document.querySelector(`#rtx_buy_box_${prod.id} input[name="selling_plan_select"]:checked`);
            if (selectedOption.value === "onetime") {
                document.querySelector(`#selling_plan_${prod.id}`).value = "";
            } else {
                document.querySelector(`#selling_plan_${prod.id}`).value = document.querySelector(`#rtx_buy_box_${prod.id} #rtx_option_plans_dropdown`).value;
            }
        }
        
        document.getElementById('rtx_option_one_time').classList.add('rtx--active');
        document.querySelectorAll(`#rtx_buy_box_${product.id} .rtx_option_plans`).forEach((plans) => {
            plans.style.display = "none";
        });

          document.querySelector("#rtx_buy_box_{{ product.id }} #rtx_option_plans_dropdown").addEventListener("change", function (e) {
            setSellingPlan(product);
        });


        document.querySelectorAll(`#rtx_buy_box_${currentProductId} .rtx_option_${currentProductId}`).forEach((div) => {      
            div.addEventListener('click', function (e) {
                var selectedOption = document.querySelector(`#rtx_buy_box_${currentProductId} input[name="selling_plan_select"]:checked`);
                if(selectedOption.value === 'subsave'){ 
                    document.getElementById('rtx_sands_block').classList.add('rtx--active');
                    document.getElementById('rtx_option_one_time').classList.remove('rtx--active');
                    document.querySelectorAll(`#rtx_buy_box_${product.id} .rtx_option_plans`).forEach((plans) => {
                        plans.style.display = "block";
                    });
                    var rad1 = document.getElementById(`radio_one_${currentProductId}`)
                    const noClickBtn = document.getElementById(`radio_one_${currentProductId}`);
                    noClickBtn.checked = false; 
                    const yesClickBtn = document.getElementById(`radio_sub_${currentProductId}`);
                    yesClickBtn.checked = true; 
                    setSellingPlan(product)
                  
                } else if (selectedOption.value === 'onetime') {
                    document.getElementById('rtx_sands_block').classList.remove('rtx--active');
                    document.getElementById('rtx_option_one_time').classList.add('rtx--active');
                    document.querySelectorAll(`#rtx_buy_box_${product.id} .rtx_option_plans`).forEach((plans) => {
                        plans.style.display = "none";
                    });
                    document.querySelector("#rtx_buy_box_{{ product.id }} #rtx_option_plans_dropdown").selectedIndex = 0
    
                    const noClickBtn = document.getElementById(`radio_sub_${currentProductId}`);
                    noClickBtn.checked = false; 
                    const yesClickBtn = document.getElementById(`radio_one_${currentProductId}`);
                    yesClickBtn.checked = true;
    
                    var spgOneTimeValue = "";
                    document.querySelector(`#selling_plan_${currentProductId}`).value = spgOneTimeValue;
                }
            });
        });
    </script>

<style> 
.rtx_buy_box {
    margin-top: 20px;
    margin-bottom: 50px;
}
.rtx_option_heading {
    margin-left: 10px;
}
.radio_rtx {
    margin-top: 0px !important;
}
#rtx_option_plans_dropdown {
    margin-top: 10px;
}
.one_time_title{
    display: flex;
    white-space: nowrap;
}
.sub_title {
    display: flex;
    white-space: nowrap;
}
.rtx_option_selector_sub {
    display: flex;
    max-width: 250px;
    font-size: large;
}
.rtx_option_selector_one {
    display: flex;
    max-width: 250px;
    font-size: large;
}
label {
    display: flex;
}
.rtx_option_sub {
    margin-top: 12px;
}
.rtx_container {
    display: contents !important;
}
.rtx_option_label {
    flex-grow: 0 !important;
}
#one_time_price {
    margin-left: 10px;
    margin-top: 1px;
}
#sub_price {
    margin-left: 10px;
    margin-top: 1px;
}
</style>